[submodule "matchers/LightGlue"]
	path = matchers/LightGlue
	url = https://github.com/cvg/LightGlue.git
[submodule "matchers/SuperGluePretrainedNetwork"]
	path = matchers/SuperGluePretrainedNetwork
	url = https://github.com/magicleap/SuperGluePretrainedNetwork.git
[submodule "matchers/gim"]
	path = matchers/gim
	url = https://github.com/xuelunshen/gim.git
[submodule "matchers/LoFTR"]
	path = matchers/LoFTR
	url = https://github.com/zju3dv/LoFTR.git
## Check the GIM Matcher weights!
